body, .pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "HelveticaNeue", sans-serif;
    font-size:16px;
    background-color: whitesmoke;
    color:#00A0E0;

}
h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue", sans-serif;            
}

a {
    color:whitesmoke;
}

#header {       
    min-height: 60px;
    padding:15px;
    background-color: #00A0E0;
    color:whitesmoke;
}
.titre {
    font-size:110%; 
    font-weight:700; 
    text-transform:uppercase;
}
.nav-item {
    font-size:80%;

}
#buttons {
    padding:15px;
    text-align: center;
}
.pure-button-primary {
    background: #00A0E0; /* this is a blue */
    color: whitesmoke;
}
ul.nav {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.img-round {
    border-radius:100%;
}

#fileFormLabel {
	border: 1px solid black;
	padding: 0.5em;

	display: block;
}

#fileForm input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}