h1 {
	display: none;
}

#medias img {
	width: 100%;
}

#connections{
	padding: 0;
	overflow: auto;
}

#connections li {
	list-style: none;

	padding: 2%;
	margin: 2%;

	text-align: center;
	cursor: pointer; 
	
	width: 20%;
	float:right;
}

#connections li img {
	width: 100%;
}

.qcm #connections li {
	float:none;
	width: 92%;
	
	background: #dedede;
}


.portrait #connections li {
	float:left;
	width: 50%;
	margin: 0%;

	background: #dedede;
}