@font-face {
    font-family: 'chocregular';
    src: url('fonts/choc-webfont.eot');
    src: url('fonts/choc-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/choc-webfont.woff2') format('woff2'),
        url('fonts/choc-webfont.woff') format('woff'),
        url('fonts/choc-webfont.ttf') format('truetype'),
        url('fonts/choc-webfont.svg#chocregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    background-color: #00ADDA;
    font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
    font-size:18px;
    line-height:1.6;
    /*padding:2.5%;*/
    color:dimgrey;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'chocregular', 'Helvetica Neue', Helvetica, sans serif;
    text-transform: uppercase;
    font-weight: 700;
    color:#00ADDA;

}
a {
    color:#00ADDA;
}
a:hover {
    color:midnightblue;
}

/* FLEXBOX LAYOUT */

.container {
    display : flex;
    flex-direction : column;
    justify-content:center;
    align-content: center;
    min-height:100%;
    width: 100%;
    padding-bottom:5%;
    text-align: center;               
    background-color: whitesmoke;
    background: url("../images/concrete_seamless.png");
    z-index: 1;


}

#header {
    order:0;
    flex-grow:1;
    margin: 3rem 0;

}

#content {
    order:1;
    flex-grow:3;
}

#connexions {
    order:2;
    flex-grow:1;
    margin-top: 3rem;
    z-index: 10;

}


/* OVERLAY STYLING */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    background-color:#00ADDA; /* Black fallback color */
    /* background-color: rgba(0,0,0, 0.9);  Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 80%; /* 100% width */
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Centered text/links */
    /* margin-top: 30px;  30px top margin to avoid conflict with the close button on smaller screens */
    font-size:80%;
}

/* .overlay-container (
width:80%;
margin-left:auto;
margin-right:auto;
}*/

.overlay-content h1, .overlay-content > p {

    color:white;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important; /* Override the font-size specified earlier (36px) for all navigation links */
    color:white;
}
.closebtn:hover {
    text-decoration:none;

}

.openbtn {
    position: fixed;
    top: 8%;
    left: 8%;
    font-size: 2rem;
    font-weight:700;
    cursor:pointer;
    color:#00ADDA;
    /*-webkit-transform: rotate(-90deg);*/

}

/* FULLSCREEN STYLING */

.title-fullscreen {
    text-transform: uppercase; 
    font-size:200%; 
    font-weight:700; 
    position:absolute; 
    top:35%; 
    left:40%;
}
p.text-fullscreen {
    font-size:120%; 
    font-weight:700; 
    position:absolute; 
    top:50%; 
    left:0;
    width:80%;
    text-align:center;
}

.background-default {

    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: auto;
}

/* ELEMENTS */

.active {

    cursor:pointer;
}
.btn {
    background-color:#00ADDA;
    border: 1px solid #00ADDA;
    font-family:'Helvetica Neue', Helvetica, sans serif;
    text-transform:uppercase;
    color:white;
}

.btn-outline {
    background-color: white;
    border: 1px solid blue;
    color: blue;           
}
.btn:hover{
    background-color:black;
    color: white;
}

.btn-outline:hover {
    background-color: blue;
    color: white; 

}

img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    margin-right:15px;
}
.img-color {
    /* border-radius:100%;
    height:auto;*/
    margin-right:15px;
    filter: none;
    -webkit-filter:none;
}


#patternForm {     
    margin-top:3rem;
}

input {
    border-bottom: 2px solid blue !important;
    border-top: none;
    border-left: none;
    border-right: none;
    color:blue !important;
}
embed, iframe {
    border: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .overlay-content {
        margin-top: 20px;
    }
    .openbtn {
        top: 2%;
    }
    
    #container {
        padding-left:5%;
        padding-right:5%;
    
    }

    .title-fullscreen {
        left:20%;
    }

    #connexions {
        margin-top: 3rem;

    }

    #patternForm{
        position:fixed;
        bottom : 5%;
        left:7%;

    } 
    input[type=submit]{

        width:50%
    }
    .flex-viewport,  .flexslider > img  {
        max-width:350px;
        max-height: auto;
    }
